# Ignore virtual environment
venv/
path/to/venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore processed audio files
processed/
uploads/
*.mp3

# Ignore log files
logs/
*.log

# Ignore environment variables (if using a .env file)
.env
